include partials/header
// ================ Start banner Area =================
section.banner-area.relative
.container(style='margin-top:150px;')
    .row.height.align-items-center.justify-content-center
        .banner-content.col-lg-6
            h1 User Admin
            hr
            .breadcrmb
                p
                    a(href='index.html') Databases
                    span.lnr.lnr-arrow-right
                    a(href='about.html') From  ../models
                    a(href='/contactDatabase')
                        li Contact Database
                    a(href="/eventDatabase")
                        li Event Database
                    a(href="/userDatabase")
                        li User Database
// ================Booking Area =================
section.container(style='margin-top:100px;')
    .booking_area
        form(action=`/event/update/${event.id}` method='POST')
            .row
                .col-lg-3.col-sm-6.col-6
                    div(style='margin-left:10px')
                        p Check - in
                        label(for='CheckIn')
                            i.fa.fa-angle-down
                        input#CheckIn.form-control(type='text' name='CheckIn' style='width:200px;' value=event.CheckIn)
                .col-lg-3.col-sm-6.col-6
                    p Check - out
                    label(for='CheckOut')
                        i.fa.fa-angle-down
                    input#CheckOut.form-control(type='text' name='CheckOut' style='width:200px;' value=event.CheckOut)
                .col-lg-3.col-sm-6.col-6
                    p Toatal guests
                    label(for='Guests')
                        i.fa.fa-angle-down
                    input#Guests.form-control(type='text' name='Guests' style='width:200px;' value=event.Guests)
                .col-lg-3.col-sm-6.col-6.coupon-code
                    .booking_item
                        p.text-capitalize
                        button.main_btn.text-uppercase(type='submit') Update Booking
// ================End Booking Area =================
include partials/footer
