include partials/header
// ================Home Banner Area =================
section.home_banner_area
    .banner_inner.d-flex.align-items-center
        .overlay.bg-parallax(data-stellar-ratio='2' data-stellar-vertical-offset='0' data-background='')
        // <div class="overlay overlay-bg"></div>
        .container
            .banner_content.text-center
                p.top-text Welcome to
                h1 Radisson
                p.text
                    | If you are looking at blank cassettes on the web, you may be very confused at the difference in
                    | price. You may
                    | see some for as low as $.17 each.
                a.play-btn(href='https://www.youtube.com/watch?v=ARA0AxrnHdM')
                    img.vdo-btn(src='img/video-icon.png' alt='')
// ================End Home Banner Area =================
// ================Booking Area =================
section.container
    .booking_area
        form(action='/event' method='POST')
            .row
                .col-lg-3.col-sm-6.col-6
                    div(style='margin-left:10px')
                        p Check - in
                        label(for='CheckIn')
                            i.fa.fa-angle-down
                        input#CheckIn.form-control(type='text' name='CheckIn' style='width:200px;')
                .col-lg-3.col-sm-6.col-6
                        p Check - out
                        label(for='CheckOut')
                            i.fa.fa-angle-down
                        input#CheckOut.form-control(type='text' name='CheckOut' style='width:200px;')
                .col-lg-3.col-sm-6.col-6
                        p Toatal guests
                        label(for='Guests')
                            i.fa.fa-angle-down
                        input#Guests.form-control(type='text' name='Guests' style='width:200px;')
                .col-lg-3.col-sm-6.col-6.coupon-code
                    .booking_item
                        p.text-capitalize
                            a(href='#') Got a Coupon Code?
                        button.main_btn.text-uppercase(type='submit') check availabity
// ================End Booking Area =================
// ================About Area =================
section.about_area.section_gap
    .container
        .row
            .col-lg-12
                .main_title
                    .top-part
                        p About Us Our History Mission &amp; Vision
                    h2
                        | About Us Our History
                        br
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Mission &amp; Vision
                    .bottom_part
                        p
                            | inappropriate behavior is often laughed off as &ldquo;boys will be boys,&rdquo; women face higher conduct standards
                            | especially in the workplace. That&rsquo;s why it&rsquo;s crucial that, as women, our behavior on the job is beyond
                            | reproach.
                            | inappropriate behavior is often laughed.
                    a.main_btn.mt-45(href='#') Request Custom Price
        .row.justify-content-center
            .col-lg-10
                #video.video_area
                    img.img-fluid(src='img/video-1.jpg' alt='')
                    .overlay.overlay-bg
                    a.popup-youtube(href='https://www.youtube.com/watch?v=VufDd-QL1c0')
                        img(src='img/video-icon-1.png' alt='')
// ================End About Area =================
// Start Our Room Area
section.our_room_area
    .container-fluid
        .row
            .col-lg-12
                .main_title
                    .top-part
                        p Our Rooms
                    h2 Our Rooms
                    .bottom_part
                        p
                            | We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day to day,
                            | also asks us to remain physically young. Young at heart,
        .row.align-items-center
            .col-lg-6
                .room_left
                    img.img-fluid(src='img/room/r1.jpg' alt='')
            .col-lg-6
                .owl-carousel.owl-room
                    .room_right
                        h1.price
                            i.fa.fa-dollar
                            | 250
                            span /night
                        h1.type
                            | Double Deluxe Room
                        p
                            | We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day to day,
                            | also
                            | asks us to remain physically young. Young at heart,
                        .row
                            .col-lg-6.col-md-5
                                ul
                                    li Air Condition
                                    li Car Parking
                                    li Swimming Pool
                            .col-lg-6.col-md-5
                                ul
                                    li Restaurant &amp; Bar
                                    li Vehicle Rental
                                    li Complementary Meal
                        a.main_btn(href='#') Book Now
                    .room_right
                        h1.price
                            i.fa.fa-dollar
                            | 250
                            span /night
                        h1.type
                            | Double Deluxe Room
                        p
                            | We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day to day,
                            | also
                            | asks us to remain physically young. Young at heart,
                        .row
                            .col-lg-6.col-md-5
                                ul
                                    li Air Condition
                                    li Car Parking
                                    li Swimming Pool
                            .col-lg-6.col-md-5
                                ul
                                    li Restaurant &amp; Bar
                                    li Vehicle Rental
                                    li Complementary Meal
                        a.main_btn(href='#') Book Now
// End Our Room Area
// ================Testimonials Area =================
section.testimonials-area.section_gap_top.color-bg
    .container
        .text-center
            img.quote-img(src='img/quote.png' alt='')
        .testi-slider.owl-carousel(data-slider-id='1')
            .item
                .testi-item
                    h4 Fanny Spencer
                    ul.list
                        li
                            a(href='#')
                                i.fa.fa-star
                        li
                            a(href='#')
                                i.fa.fa-star
                        li
                            a(href='#')
                                i.fa.fa-star
                        li
                            a(href='#')
                                i.fa.fa-star
                        li
                            a(href='#')
                                i.fa.fa-star
                    .wow.fadeIn(data-wow-duration='1s')
                        p
                            | As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it,
                            | you travel
                            | across her face
                            br
                            |  and She is the host to your journey.
            .item
                .testi-item
                    h4 Fanny Spencer
                    ul.list
                        li
                            a(href='#')
                                i.fa.fa-star
                        li
                            a(href='#')
                                i.fa.fa-star
                        li
                            a(href='#')
                                i.fa.fa-star
                        li
                            a(href='#')
                                i.fa.fa-star
                        li
                            a(href='#')
                                i.fa.fa-star
                    .wow.fadeIn(data-wow-duration='1s')
                        p
                            | As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it,
                            | you travel
                            | across her face
                            br
                            |  and She is the host to your journey.
            .item
                .testi-item
                    h4 Fanny Spencer
                    ul.list
                        li
                            a(href='#')
                                i.fa.fa-star
                        li
                            a(href='#')
                                i.fa.fa-star
                        li
                            a(href='#')
                                i.fa.fa-star
                        li
                            a(href='#')
                                i.fa.fa-star
                        li
                            a(href='#')
                                i.fa.fa-star
                    .wow.fadeIn(data-wow-duration='1s')
                        p
                            | As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it,
                            | you travel
                            | across her face
                            br
                            |  and She is the host to your journey.
            .item
                .testi-item
                    img(src='img/quote.png' alt='')
                    h4 Fanny Spencer
                    ul.list
                        li
                            a(href='#')
                                i.fa.fa-star
                        li
                            a(href='#')
                                i.fa.fa-star
                        li
                            a(href='#')
                                i.fa.fa-star
                        li
                            a(href='#')
                                i.fa.fa-star
                        li
                            a(href='#')
                                i.fa.fa-star
                    .wow.fadeIn(data-wow-duration='1s')
                        p
                            | As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it,
                            | you travel
                            | across her face
                            br
                            |  and She is the host to your journey.
        .owl-thumbs.d-flex.justify-content-center(data-slider-id='1')
            .owl-thumb-item
                div
                    img.img-fluid(src='img/testimonial/t1.png' alt='')
                .overlay.overlay-grad
            .owl-thumb-item
                div
                    img.img-fluid(src='img/testimonial/t2.png' alt='')
                .overlay.overlay-grad
            .owl-thumb-item
                div
                    img.img-fluid(src='img/testimonial/t3.png' alt='')
                .overlay.overlay-grad
            .owl-thumb-item
                div
                    img.img-fluid(src='img/testimonial/t4.png' alt='')
                .overlay.overlay-grad
// ================End Testimonials Area =================
// ================Latest Blog Area =================
section.latest_blog_area.section_gap.color-bg
    .container
        .row
            .col-lg-12
                .main_title
                    p.text-uppercase Our Blog Posts
                    h2
                        | Our Blog Posts
                    p
                        | nappropriate behavior is often laughed off as &ldquo;boys will be boys,&rdquo; women face higher conduct standards
                        | especially in the workplace. That&rsquo;s why it&rsquo;s crucial that, as women, our behavior on the job is beyond reproach.
                        | inappropriate behavior is often laughed.
        .row
            .single-recent-blog.col-lg-4.col-md-6
                .thumb
                    img.f-img.img-fluid.mx-auto(src='img/b1.jpg' alt='')
                .bottom.d-flex.justify-content-between.align-items-center.flex-wrap
                    div
                        a.main_btn(href='#') Travel
                    .meta
                        span 30th Sep, 2018
                        span 02 Comments
                a(href='#')
                    h4
                        | Low Cost Advertising let us know
                        | the side effect of printing
                p
                    | Acres of Diamonds&mldr; you&rsquo;ve read the famous story, or at least had it related to you. A farmer hears tales of
                    | diamonds and begins dreaming of vast riches. He sells his farm and hikes off over the horizon never heard.
            .single-recent-blog.col-lg-4.col-md-6
                .thumb
                    img.f-img.img-fluid.mx-auto(src='img/b2.jpg' alt='')
                .bottom.d-flex.justify-content-between.align-items-center.flex-wrap
                    div
                        a.main_btn(href='#') Travel
                    .meta
                        span 30th Sep, 2018
                        span 02 Comments
                a(href='#')
                    h4
                        | Low Cost Advertising let us know
                        | the side effect of printing
                p
                    | Acres of Diamonds&mldr; you&rsquo;ve read the famous story, or at least had it related to you. A farmer hears tales of
                    | diamonds and begins dreaming of vast riches. He sells his farm and hikes off over the horizon never heard.
            .single-recent-blog.col-lg-4.col-md-6
                .thumb
                    img.f-img.img-fluid.mx-auto(src='img/b3.jpg' alt='')
                .bottom.d-flex.justify-content-between.align-items-center.flex-wrap
                    div
                        a.main_btn(href='#') Travel
                    .meta
                        span 30th Sep, 2018
                        span 02 Comments
                a(href='#')
                    h4
                        | Low Cost Advertising let us know
                        | the side effect of printing
                p
                    | Acres of Diamonds&mldr; you&rsquo;ve read the famous story, or at least had it related to you. A farmer hears tales of
                    | diamonds and begins dreaming of vast riches. He sells his farm and hikes off over the horizon never heard.
// ================End Latest Blog Area =================

include partials/footer
