include partials/header
// ================ Start banner Area =================
section.banner-area.relative
.container(style='margin-top:150px;')
    .row.height.align-items-center.justify-content-center
        .banner-content.col-lg-6
            h1 User Admin
            hr
            .breadcrmb
                p
                    a(href='index.html') Databases
                    span.lnr.lnr-arrow-right
                    a(href='about.html') From  ../models
                    a(href='/contactDatabase')
                        li Contact Database
                    a(href="/eventDatabase")
                        li Event Database
                    a(href="/userDatabase")
                        li User Database

div.row.height.align-items-center.justify-content-center(style="margin-top:20px;")
  div.col-lg-4
      form.contact-form(action=`/event/email/${id}` method='POST')
        .row
            .col-lg-12.d-flex.flex-column.mb-20
                input(type='hidden', name='_csrf', value=_csrf)
                input.form-control(name='name' placeholder='Sender' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contact Name'" required='' type='text')
            .col-lg-12.d-flex.flex-column.mb-20
                input.form-control(name='emailAddress' placeholder='Recipient Email Address' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" required='' type='email')
            .col-lg-12.d-flex.flex-column
                textarea.form-control(name='postMessage' placeholder='Post a message' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Post a message'" required='')
            .col-lg-12.d-flex.justify-content-end
                button.main_btn.text-uppercase(type='submit' style="margin-top:10px;") Update Booking
            .alert-msg

include partials/footer
