doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='icon', href='img/favicon.png', type='image/png')
    title Radisson Hotel
    // Bootstrap CSS
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='vendors/linericon/style.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='vendors/owl-carousel/owl.carousel.min.css')
    link(rel='stylesheet', href='vendors/lightbox/simpleLightbox.css')
    link(rel='stylesheet', href='vendors/nice-select/css/nice-select.css')
    link(rel='stylesheet', href='vendors/animate-css/animate.css')
    link(rel='stylesheet', href='vendors/popup/magnific-popup.css')
    // main css
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/responsive.css')
  body
    // ================Header Menu Area =================
    header.header_area
      .top_menu.row.m0
        .container
          .float-left
            ul.list.header_social
              li
                a(href='#') Contact Us +44 (012) 5689 3264
          .float-right
            select
              option(value='1') USD
              option(value='1') EUR
              option(value='1') AOA
              option(value='1') AUD
            select
              option(value='1') ENG
              option(value='1') FRA
              option(value='1') BAN
      .main_menu
        nav.navbar.navbar-expand-lg.navbar-light
          .container
            // Brand and toggle get grouped for better mobile display
            a.navbar-brand.logo_h(href='index.html')
              img(src='img/logo.png', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            // Collect the nav links, forms, and other content for toggling
            #navbarSupportedContent.collapse.navbar-collapse.offset
              ul.nav.navbar-nav.menu_nav.ml-auto
                li.nav-item.active
                  a.nav-link(href='index.html') Home
                li.nav-item
                  a.nav-link(href='about-us.html') About
                li.nav-item
                  a.nav-link(href='gallery.html') Gallery
                li.nav-item.submenu.dropdown
                  a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Pages
                  ul.dropdown-menu
                    li.nav-item
                      a.nav-link(href='elements.html') Elements
                    li.nav-item
                      a.nav-link(href='rooms.html') Rooms
                li.nav-item.submenu.dropdown
                  a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Blog
                  ul.dropdown-menu
                    li.nav-item
                      a.nav-link(href='blog.html') Blog
                    li.nav-item
                      a.nav-link(href='single-blog.html') Blog Details
                li.nav-item
                  a.nav-link(href='contact.html') Contact
    // ================Header Menu Area =================
    // ================Home Banner Area =================
    section.banner_area
      .banner_inner.d-flex.align-items-center
        .overlay.bg-parallax(data-stellar-ratio='0.9', data-stellar-vertical-offset='0', data-background='')
        .container
          .banner_content.text-center
            h2 Contact Us
            .page_link
              a(href='index.html') Home
              a(href='contact.html') Contact
    // ================End Home Banner Area =================
    // ================Contact Area =================
    section.contact_area.section_gap
      .container
        #mapBox.mapBox(style='width:100%; height: 420px;')
        .row
          .col-lg-3
            .contact_info
              .info_item
                i.lnr.lnr-home
                h6 California, United States
                p Santa monica bullevard
              .info_item
                i.lnr.lnr-phone-handset
                h6
                  a(href='#') 00 (440) 9865 562
                p Mon to Fri 9am to 6 pm
              .info_item
                i.lnr.lnr-envelope
                h6
                  a(href='#') support@colorlib.com
                p Send us your query anytime!
          .col-lg-9
            form#contactForm.row.contact_form(action='contact_process.php', method='post', novalidate='novalidate')
              .col-md-6
                .form-group
                  input#name.form-control(type='text', name='name', placeholder='Enter your name')
                .form-group
                  input#email.form-control(type='email', name='email', placeholder='Enter email address')
                .form-group
                  input#subject.form-control(type='text', name='subject', placeholder='Enter Subject')
              .col-md-6
                .form-group
                  textarea#message.form-control(name='message', rows='1', placeholder='Enter Message')
              .col-md-12.text-right
                button.submit_btn(type='submit', value='submit') Send Message
    // ================Contact Area =================
    // ================ start footer Area  =================
    footer.footer-area.section_gap
      .container
        .row
          .col-lg-3.col-md-6.col-sm-6
            .single-footer-widget
              h6 About Agency
              p
                | The world has become so fasted that people don’t want to standby reading page of info they
                | would much rather
                | look at a presentation and understand message.
          .col-lg-3.col-md-6.col-sm-6
            .single-footer-widget
              h6 Quick Links
              .row
                ul.col.footer-nav
                  li
                    a(href='#') Sitemaps
                  li
                    a(href='#') Categories
                  li
                    a(href='#') Archives
                  li
                    a(href='#') Advertise
                  li
                    a(href='#') Ad Choice
                ul.col.footer-nav
                  li
                    a(href='#') Privacy Policy
                  li
                    a(href='#') Terms of Use
                  li
                    a(href='#') Help Center
                  li
                    a(href='#') Newsletters
                  li
                    a(href='#') Feedback
          .col-lg-3.col-md-6.col-sm-6
            .single-footer-widget
              h6 Newsletter
              p
                | For business professionals caught between high OEM price mediocre print and graphic.
              #mc_embed_signup
                form.form-inline(target='_blank', novalidate='true', action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01', method='get')
                  .d-flex.flex-row
                    input.form-control(name='EMAIL', placeholder='Enter Email', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter Email '", required='', type='email')
                    button.click-btn.btn.btn-default
                      i.lnr.lnr-location(aria-hidden='true')
                    div(style='position: absolute; left: -5000px;')
                      input(name='b_36c4fd991d266f23781ded980_aefe40901a', tabindex='-1', value='', type='text')
                    //
                      <div class="col-lg-4 col-md-4">
                      <button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
                      </div>
                  .info
          .col-lg-3.col-md-6.col-sm-6
            .single-footer-widget.mail-chimp
              h6.mb-20 Instafeed
              ul.instafeed.d-flex.flex-wrap
                li
                  img(src='img/instagram/Image-01.jpg', alt='')
                li
                  img(src='img/instagram/Image-02.jpg', alt='')
                li
                  img(src='img/instagram/Image-03.jpg', alt='')
                li
                  img(src='img/instagram/Image-04.jpg', alt='')
                li
                  img(src='img/instagram/Image-05.jpg', alt='')
                li
                  img(src='img/instagram/Image-06.jpg', alt='')
                li
                  img(src='img/instagram/Image-07.jpg', alt='')
                li
                  img(src='img/instagram/Image-08.jpg', alt='')
        .footer-bottom.d-flex.justify-content-between.align-items-center.flex-wrap
          div
            p.footer-text.m-0
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              | Copyright ©
              script.
                document.write(new Date().getFullYear());
              |  All rights reserved | This template is made with 
              i.fa.fa-heart-o(aria-hidden='true')
              |  by 
              a(href='https://colorlib.com', target='_blank') Colorlib
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          .footer-social.d-flex.align-items-center
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-dribbble
            a(href='#')
              i.fa.fa-behance
    // ================ End footer Area  =================
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='js/jquery.min.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='js/popper.js')
    script(src='js/bootstrap.min.js')
    script(src='js/stellar.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA')
    script(src='vendors/lightbox/simpleLightbox.min.js')
    script(src='vendors/nice-select/js/jquery.nice-select.min.js')
    script(src='vendors/isotope/imagesloaded.pkgd.min.js')
    script(src='vendors/isotope/isotope.pkgd.min.js')
    script(src='vendors/owl-carousel/owl.carousel.min.js')
    script(src='js/owl-carousel-thumb.min.js')
    script(src='vendors/popup/jquery.magnific-popup.min.js')
    script(src='js/jquery.ajaxchimp.min.js')
    script(src='vendors/counter-up/jquery.waypoints.min.js')
    script(src='vendors/counter-up/jquery.counterup.js')
    script(src='js/mail-script.js')
    script(src='js/theme.js')
